# Entornos y caches de Python
.venv/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/

# Configuracion local
.env
.vscode/

# Ignorar datos y resultados generados, excepto archivos CSV y .gitkeep
/data/raw/*
!/data/raw/.gitkeep
!/data/raw/*.csv
/data/processed/*
!/data/processed/.gitkeep
!/data/processed/*.csv
/output/*
!/output/.gitkeep
!/output/*.csv

# Archivos del sistema
.DS_Store
Thumbs.db
